body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0858a3;
}

header {
    background: #0858a3;
    color: rgb(11, 62, 156);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(15, 59, 141)
    text-decoration none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: rgb(15, 59, 141);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: rgb(15, 59, 141);
    position: relative;
    bottom: 0;
    width: 100%;
}